.roadmap__placeholder {
  width: 100%;
  height: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  .roadmap__placeholder {
    height: auto;
  }
}

.roadmap__content {
  width: 100%;
  max-width: 1000px;
}

.roadmap__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 30;
  margin-bottom: -20px;
}

@media screen and (max-width: 1000px) {
  .roadmap__header {
    margin-bottom: 0;
  }
}

.roadmap__cardsplaceholder {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1000px) {
  .roadmap__cardsplaceholder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
}

.roadmapheader__info {
  width: 80%;
}

.roadmapheader__info > h1 {
  font-size: 32px;
}

@media screen and (max-width: 1000px) {
  .roadmapheader__info {
    width: 70%;
  }
}

.roadmapheader__img {
  width: 180px;
  height: 180px;
  position: absolute;
  right: -35px;
  bottom: -66px;
}

@media screen and (max-width: 1000px) {
  .roadmapheader__img {
    width: 140px;
    height: 140px;
    right: -40px;
    bottom: -38px;
    z-index: 99;
  }
}

.roadmapheader__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardMob {
  width: 300px;
  font-size: 20px;
  height: 570px;
}

@media screen and (max-width: 1000px) {
  .cardMob {
    min-height: 200px;
    height: auto;
    margin-bottom: 15px;
    font-size: normal;
    width: 100%;
    max-width: 100%;
  }
}

.cardroadmap__content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .cardroadmap__descCard {
    display: none;
  }
}

.cardroadmap__tech {
  margin: 20px 0;
}

@media screen and (max-width: 1000px) {
  .cardroadmap__tech {
    margin: 0;
  }
}

.cardroadmap__header {
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .cardroadmap__header {
    height: 30px;
  }
}
/*# sourceMappingURL=roadmap.css.map */